
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <div class="home-img">
            <img  src="https://res.cloudinary.com/dcirexlcs/image/upload/v1677220158/grocery-assets/cover-removebg-preview_gxfpwp.png" alt="">
          </div>
          <h1 class="font-weight-bold">Welcome to Freshly!</h1>
          <h3 class="lead">
            Your source for farm-fresh goodness.
          </h3>
        </div>
      </div>
    </div>
  </header>
  <div class="float-right">
    <i class="fa fa-arrow-up " onclick="topFunction()" id="mybtn" style="cursor: pointer;"></i>
  </div>

